.DS_Store
/image-classification/.ipynb_checkpoints/*
/image-classification/cifar-10-batches-py/*
/image-classification/cifar-10-python.tar.gz
/image-classification/__pycache__/*
/image-classification/preprocess_batch_1.p
/image-classification/preprocess_batch_2.p
/image-classification/preprocess_batch_3.p
/image-classification/preprocess_batch_4.p
/image-classification/preprocess_batch_5.p
/image-classification/preprocess_training.p
/image-classification/preprocess_validation.p
/image-classification/image_classification.data-00000-of-00001
/image-classification/image_classification.index
/image-classification/image_classification.meta

.ipynb_checkpoints

